<div class="card"    >
    <img style="width:100; height:200px" [src]="product.photo" class="card-img-top" [routerLink]="['/produits',product.slug]">
    <h2>{{ product.name }}</h2>
    <p class="lead">{{ product.truncDescription }}</p>
    <p class="lead">{{ product.stock }}</p>
    <p class="lead">{{ product.price | currency:'€':true }}  </p>


<app-product-buttons [product]="product" [numProducts]="numProducts"></app-product-buttons>
    <!-- <a [routerLink]="['/products',product.id]" class="btn btn-info btn-lg">Détail</a> -->
</div>
